<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- welcome commander-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
        <!-- style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='img/favicon.png') }}"/>
        <title>Junta Commander</title>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>JUNTA COMMANDER</h1>
            </header>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>