{% extends "layout.html" %}
{% block content %}
            <main>
                <div class = game_header>
                    <h3>Good Day, Commander</h3>
                    <p>The year is 2159. You are a commander in the Earth High Junta. It is your duty to extract morassium from alien worlds in order to power Imperial Terra's blockchain currency... Eradicate any local resistance you encounter.</p>
                </div>
                <div id= info_box_container class="big_box_container">
                    <div class = "col">
                        <div class = "info_card">
                            <img src="{{ url_for('static', filename='img/defender_card.png') }}">
                            <div class = "col">
                                <h4>Place Defenders</h4>
                                <p>Click on the grid to purchase a defender for 100 credits</p>
                            </div>
                        </div>
                        <div class = "info_card">
                            <img src="{{ url_for('static', filename='img/tank_card.png') }}">
                            <div class = "col">
                                <h4>Upgrade Defenders</h4>
                                <p>Click on a defender to upgrade it for 500 then 1000 credits</p>
                            </div>
                        </div>
                        <div class = "info_card">
                            <img src="{{ url_for('static', filename='img/morassium_card.png') }}">
                            <div class = "col">
                                <h4>Collect Morassium</h4>
                                <p>Clear each wave by collecting required morassium</p>
                            </div>
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "info_card">
                            <img src="{{ url_for('static', filename='img/miner_card.png') }}">
                            <div class = "col">
                                <h4>Protect Extractors</h4>
                                <p>You incur a fine if your morassium extractors perish</p>
                            </div>
                        </div>
                        <div class = "info_card">
                            <img src="{{ url_for('static', filename='img/enemy_card.png') }}">
                            <div class = "col">
                                <h4>Stop Hostile Advance</h4>
                                <p>YOU LOSE if an enemy reaches the farthest left tile</p>
                            </div>
                        </div>
                        <div class = "info_card">
                            <img src="{{ url_for('static', filename='img/boss_card.png') }}">
                            <div class = "col">
                                <h4>Kill 'em All</h4>
                                <p>YOU WIN if you defeat all 10 waves of hostiles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer id="menu_footer">
                <nav id="menu_button_container">
                    <a href="/game"><button class="menu_button">Play Game</button></a>
                    <!-- <a href="/leaderboard"><button class="menu_button">Highscores</button></a> -->
                </nav>
            </footer>
{% endblock content %}